# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# PyInstaller
*.spec
!pyinstaller.spec

# IDEs
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
